.app_div{
    width: auto;
    max-height: 11rem;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 2px solid rgba(216,216,216,255);
    padding: 2rem 4rem;
    border-radius: 5px;
}

.app_div:hover{
    background-color: #F1F1F1;
}

.active_app_div{
    border: 2px solid #59D887;
    background-color: #E4F8EA;
}

.app_topbox{
    display: flex;
}

.app_img{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}

.app_box{
    margin: auto;
    width: 100%;
    height: auto;
    border: 2px solid rgba(216,216,216,255);
    padding: 1rem 2rem;
    overflow-y: hidden;
    border-radius: 5px;
    padding: 7%;
}

.app_image{
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
}

.app_data{
    margin-left: 5%;
}

.domains, .organisations, .key, .secret{
    margin-top: 2rem;
}

.org_div{
    display: flex;
    width: 100%;
    border: 1px solid black;
    padding: 0.5rem;
}

.org_item{
    display: flex;
    background-color: #d7d7d7;
    margin: 0 1rem;
    padding: 10px;
    border-radius: 20px;
    font-size: small;
}

.copy_div{
    display:flex;
    width: 100%;
    border: 1px solid black;
    align-items: center;
}

#copy_icon{
    margin:0 5px;
}

#copy_icon:active{
    transform: scale(0.9);
}

.applications{
    display: flex;
}

.application_list{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

.application_data{
    width: 30%;
    display: flex;
}

