.app_div{
    width: auto;
    max-height: 11rem;
    margin-right: 5%;
    margin-bottom: 5%;
    border: 2px solid #F1F1F1;
    padding: 2rem 4rem;
    border-radius: 5px;
    box-shadow: 0px 5px #F8F8F8;
}

.app_div:hover{
    background-color: #F1F1F1;
}

.active_app_div{
    border: 2px solid #59D887;
    background-color: #E4F8EA;
}

.app_topbox{
    display: flex;
}

.app_img{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
}

.app_box{
    margin: auto;
    width: 100%;
    max-height: 75vh;
    background-color: #F8F8F8;
    padding: 1rem 2rem;
    overflow-y: scroll;
    border-radius: 5px;
    padding: 7%;
}

.app_image{
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
}

.app_data{
    margin-left: 5%;
    width: 100%;
}

.new_app_data{
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: 100%;
}

.app_box_children{
    margin-top: 2rem;
}

.app_box_buttons{
    margin-top: 2rem;
    float: right;
}

.cancel_btn{
    border: 1px solid #191919;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
}

.create_btn{
    border: 1px solid #191919;
    background-color: #191919;
    color: #FFFFFF;
    border-radius: 4px;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
}

.org_div{
    display: flex;
    width: 100%;
    min-height: 3.5rem;
    border: 1px solid black;
    background-color: #FFFFFF;
    padding: 0.5rem;
    overflow-y: scroll;
}

.org_div_select{
    width: 100%;
    height: 1px;
    //background-color: #FFFFFF;
    border: none;
    padding: 0.5rem;
}

.org_item{
    display: flex;
    background-color: #F1F1F1;
    margin: 0 1rem;
    padding: 10px;
    border-radius: 20px;
    font-size: small;
}

.delete_org{
    margin-left: 0.5rem;
    padding: 0px 3px;
    border-radius: 10px;
    cursor: pointer;
}

.delete_org:hover{
    background-color: #D7D7D7;
}

.copy_div{
    display:flex;
    width: 100%;
    border: 1px solid black;
    align-items: center;
}

#copy_icon{
    margin:0 5px;
}

#copy_icon:active{
    transform: scale(0.9);
}

.applications{
    display: flex;
}

.application_list{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

.application_data{
    width: 30%;
    display: flex;
}

.appli_pop{
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 2rem;
    left: 30%;
    width: 30rem;
    height: 2rem;
    background-color: black;
    border-radius: 5px;
    padding: 2rem;
}

.appli_pop_content{
    width: 100%;
}

.sort_popup{
    position: fixed;
    align-items: center;
    width: 10rem;
    top: 12rem;
    right: 12%;
    background-color: white;
    border: 1px solid black;
}

.content{
    padding: 1rem;
    cursor: pointer;
}
