.split_left{
  width: 45.833%;
  height: 100%;
  position: fixed;
  left: 0;
  }
  
.split_right{
  width: 54.167%;
  height: 100%;
  position: fixed;
  right: 0;
}  

.carousel {
  background-color: black;
}
  
.login {
  width: 50%;
  margin: auto;  
}
  
.centred_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top {
  padding: 1.5rem;
}

.passEye{
  color: #939393;
}

.or {
  color: #B3B3B3;
  font-size: 14px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.option_hr{
  width: 12.3vw;
}

.tickBox{
  padding-top: 1rem;
  width: 100%;
}
