.signup{
    margin: auto;
    margin-top:5rem;
    width: 50%;
}

.top{
    width: 54.167%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0rem;
    display: flex;
    align-items: center;
    background-color: white;
}

.otp{
    margin-top: 3rem;
}

.form{
    margin-top: 3rem;
}

.icons{
    margin: auto;
}

.icon_box{
    align-items: center;
    align-self: center;
}

.icon_hr{
    width: 4.5vw;
    margin: -0.7rem -3rem;
}

.icon{
    width: 7rem;
    height: 7rem;
}

.text-danger{
    color: red;
}

.icon_table{
    margin: auto;
}

  .slide-in {
    animation: slide-in 0.5s forwards;
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
