.signup {
  margin: auto;
  width: 56%;
  height: 44rem;
}

.top {
  width: 54.167%;
  height: 10%;
  position: fixed;
  left: 1em;
  top: 0rem;
  display: flex;
  align-items: center;
}

.otp {
  margin-top: 3rem;
}

.form {
  margin-top: 2rem;
}

.icons {
  margin: auto;
}

.icon_box {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin: 1rem auto 2rem;
  justify-content: center;
}

.icon_hr {
  width: 4.5vw;
}

.icon {
  width: min(10vw, 7rem);
  height: min(100%, 7rem);
}

.text-danger {
  color: red;
}

.icon_table {
  margin: auto;
}

.pass-rules {
  position: absolute;
  top: 10rem;
  left: 50%;
  margin: 2rem auto;
  background-color: white;
  color: #393939;
}

.green-box {
  background-color: #e5f5e0;
  border-radius: 10px;
  padding: 0 0.5rem;
}
.red-box {
  background-color: #fdedec;
  border-radius: 10px;
  padding: 0 0.5rem;
}

.slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  .signup {
    width: 80%;
    margin-top: 1rem;
    height: auto;
  }
  .icon_box{
    margin: 1rem auto;
  }
  .icon{
    width: 6rem;
    height: 6rem;
  }
}

@media only screen and (max-width: 500px) {
  .icon{
    width: 5rem;
    height: 5rem;
  }
}
