.user_table, .user_data, .admin_table, .admin_data, .invites_data, .invites_table{
    width: 100%;
    text-align: left;
}

.user_table, .admin_table, .invites_table{
    scroll-behavior: smooth;
    border-collapse: collapse;
}

th{
    padding: 0 1rem;
}

td{
    padding: 0 0.75rem;
}

.popup_box{
    width: 10rem;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.popup_button{
    text-decoration: none;
    background: none;
    border: none;
}

.popup_content{
    padding: 0.5rem 1rem;
}

.popup_content:hover{
    background-color: #F1F1F1;
}

.invites_data{
    padding: 1rem;
}

.users_data{
    padding: 1rem;
    margin: 1rem;
}
