.announcements {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.announcement_card {
  width: 26rem;
  height: 30rem;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  position: relative;
  .banner {
    width: 100%;
    height: 15rem;
  }
  .content {
    .title {
      font-size: 1.6rem;
      color: black;
    }
    .description {
      font-size: 1rem;
      color: lighten($color: #000000, $amount: 20);
    }
  }
  .time {
    position: absolute;
    bottom: 0.4rem;
    right: 1.2rem;
    color: lighten($color: #000000, $amount: 60);
  }
}
