.button_submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #191919;
  width: 100%;
  height: 3rem;
  border-radius: 4px;
  color: #FFFFFF;
  border: 0;
  background-color: #191919;
  font-size: 16px;
  margin-top: 3rem;
}

.inactive1  {
    border: 0;
    background-color: #6B6B6B;
}

.button_submit:hover{
  background-color: #393939;
}
