.button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: #191919;
    width: 20rem;
    height: 3rem;
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
    background-color: #191919;
}
    
  .inactive1  {
      border: 0;
      background-color: #6B6B6B;
    }
  
  .button1:hover{
    background-color: #393939;
  }


  