.inputBox {
display: flex;
flex-direction: row;
align-items: flex-start;
width: 21.5rem;
background: #FFFFFF;
border: 1px solid #D7D7D7;
border-radius: 4px;
}

.true {
    border: 1px solid #1890FF;
    box-shadow: 0px 0px 3px rgba(24, 144, 255, 0.5);
}

.input {
    border: none;
    width: 20rem;
    height: 3rem;
}

.input:focus {
    outline: none;
}