@import "./components/button_submit.scss";
@import "./components/button_auth.scss";
@import "./components/input_box.scss";
@import "./components/carousel.scss";
@import "./components/search_panel.scss";
@import "./components/admin_table.scss";
@import "./pages/login.scss";
@import "./pages/signup.scss";
@import "./pages/admin.scss";
@import "./pages/applications.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: white;
  }
}

.green {
  color: #00902B;
}

.perm{
  text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
}

p {
  line-height: 0.4rem;
  color: #393939;
}

i {
  display: inline;
  align-self: flex-end;
  align-self: center;
}

::placeholder {
  color: #B3B3B3;
}

th{
  font-weight: normal;
}

input[type=text]{
  padding: 0.5rem;
  width: 100%;
  color: #393939;
}
