@import "./components/button1.scss";
@import "./components/button2.scss";
@import "./components/input_box.scss";
@import "./components/carousel.scss";
@import "./components/search_panel.scss";
@import "./components/admin_table.scss";
@import "./pages/login.scss";
@import "./pages/signup.scss";
@import "./pages/admin.scss";
@import "./pages/applications.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.green {
  color: #00902B;
}

.underline:hover {
  text-decoration: underline;
}

p {
  line-height: 0.4rem;
  color: #393939;
}

i {
  display: flex;
  align-self: flex-end;
  align-self: center;
}

::placeholder {
  color: #B3B3B3;
}

th{
  font-weight: normal;
}
